{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Backup list for: {{device.name}}
</h1>
<div style="overflow-x:auto;">
    <table id="device_mod_table" class="centerTable">
        <tr>
            <th>Date</th>
            <th colspan="2"></th>
        </tr>
        {% for backup in backuplist %}
        <tr>
            <td>{{backup.uploaddate.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            <td colspan="2">
                <a class="button is-primary is-inverted is-outlined"
                    href="{{ url_for('main.backup_get',bid=backup.id) }}">
                    Download
                </a>
                <a class="button is-primary is-inverted is-outlined"
                    href="{{ url_for('main.backup_delete', did=device.id, bid=backup.id) }}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
</td>
{% endblock %}
