{% extends "base.html" %}

{% block content %}

<div style="overflow-x:auto;">
    <form action="{{ url_for('main.device_modify', id=device.id) }}" method="POST">
        <table id="device_mod_table" class="centerTable">
            <tr>
                <td colspan="2">
                    <h1 class="title">
                        Modify: {{device.name}}
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}.
                    </div>
                    {% endif %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td>Device name:</td>
                <td><input class="input is-small" type="text" name="name" value="{{device.name}}" required></td>
            </tr>
            <tr>
                <td>IP Address:</td>
                <td><input class="input is-small" type="text" value="{{device.device_ip}}" id="ipaddress" disabled>
                    <input type="text" name="ipaddress" value="{{device.device_ip}}" hidden>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input class="input is-small" type="text" name="description" value="{{device.description}}"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input class="input is-small" type="text" name="username" value="{{device.username}}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="input is-small" type="text" name="password" value="{{device.password}}"></td>
            </tr>
            <tr>
                <td>SSH Port:</td>
                <td><input class="input is-small" type="text" name="sshport" value="{{device.ssh_port}}"></td>
            </tr>
            <tr>
                <td>Connection Type:</td>
                <td>
                    <div class="select is-small">
                        <select name="type">
                            {% if device.conn_type == 'MIKROTIK' %}
                            <option value="MIKROTIK" selected>Mikrotik Device</option>
                            <option value="HP">HP Switch</option>
                            <option value="UBNTRADIO">Ubiquiti Radio</option>
                            {% elif device.conn_type == 'HP' %}
                            <option value="MIKROTIK">Mikrotik Device</option>
                            <option value="HP" selected>HP Switch</option>
                            <option value="UBNTRADIO">Ubiquiti Radio</option>
                            {% else %}
                            <option value="MIKROTIK">Mikrotik Device</option>
                            <option value="HP">HP Switch</option>
                            <option value="UBNTRADIO" selected>Ubiquiti Radio</option>
                            {% endif %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Disabled:</td>
                <td>
                    <div class="select is-small">
                        <select name="state">
                            {% if device.disabled %}
                            <option value="1" selected>Disabled</option>
                            <option value="0">Enabled</option>
                            {% else %}
                            <option value="1">Disabled</option>
                            <option value="0" selected>Enabled</option>
                            {% endif %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align:center;" colspan="2">
                    <button class="button is-primary is-inverted is-outlined">Save Changes</button>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <form action="{{ url_for('main.device_delete', id=device.id) }}" method="PUT">
        <button class="button is-primary is-inverted is-outlined">Delete Device</button>
    </form>

</div>

{% endblock %}
