{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Device List
</h1>
<div style="overflow-x:auto;">
  <table id="device_table">
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Description</th>
      <th>Disabled</th>
      <th colspan="2"></th>
    </tr>
    {% for device in devicelist %}
    <tr>
      <td><a>{{ device.name }}</a></td>
      <td><a>{{ device.device_ip }}</a></td>
      <td><a>{{ device.description }}</a></td>
      <td>{% if device.disabled %}
        Disabled
        {% else %}
        Enabled
        {% endif %}
        </th>
      <td colspan="2" style="text-align: center;">
        <a class="button is-primary is-inverted is-outlined" href="{{ url_for('main.device_modify', id=device.id) }}">
          Edit</a>
        <a class="button is-primary is-inverted is-outlined" href="{{ url_for('main.device_backup', did=device.id) }}">
          Backup Now</a>
        <a class="button is-primary is-inverted is-outlined" href="{{ url_for('main.backup_list', did=device.id) }}">
          View Backups</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<a class="button is-primary is-inverted is-outlined" href="{{ url_for('main.device_add') }}">
  Add Device
</a>
{% endblock %}
