#device_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#device_table td, #device_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#device_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00b89c;
  color: white;
}

#device_mod_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;

}

.centerTable { margin: 0px auto; }

#device_mod_table tr:nth-child(odd){background-color: #00b89c;}

#device_mod_table td, #device_mod_table th {
  padding: 8px;
}
